@import "../../variaveis.css";
@import "../../compartilhado.css";

input {
  height: 42px;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid var(--cor-secundaria);
}

input:focus {
  outline: none;
  border: 1px solid var(--cor-primaria);
}

#formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#btnCadastro {
  margin-top: 16px;
  border: none;
  width: calc(100% - 50px);
  background-color: var(--cor-primaria);
  border-radius: 8px;
  padding: 10px;
  color: var(--cor-fundo);
  font-size: 24px;
}

#btnCadastro:hover {
  cursor: pointer;
  box-shadow: var(--sombra);
  border: 1px solid var(--cor-secundaria);
}

.form-group {
  width: calc(100% - 50px);
  gap: 2px;
  display: flex;
  flex-direction: column;
}

#dropdown {
  width: calc(100% - 55px);
  border: 2px solid var(--cor-primaria);;
  border-radius: 5px;
  background: var(--cor-fundo);
  margin-bottom: 20px;
  cursor: pointer;
  margin: 50px 25px 0;
}

#dropdown-header {
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

#dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border-top: 1px solid #ccc;
}

#dropdown-list li {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  background: var(--cor-fundo);
}

#dropdown-list li:last-child {
  border-bottom: none;
}