@import "../../compartilhado.css";

p {
  font-size: 20px;
  font-family: inherit;
  text-align: justify;
  line-height: 1.5em;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

#corpo-texto {
  margin-top: 48px;
  width: 90%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#corpo-texto h2 {
  margin-bottom: 8px;
  text-decoration: underline 1px var(--cor-texto);
}

#corpo-texto h1 {
  margin-top: 24px;
}
