@import "../../variaveis.css";
@import "../../compartilhado.css";

button {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: #EEF7FF;
  border-style: none;
}

input {
  height: 32px;
  border-radius: 8px;
  padding: 4px;
}

#esquerdaHb {
  position: relative;
  display: flex;
  height: 50px;
  width: auto;
  align-items: left;
}

#siteTitle {
  position: relative;
  display: flex;
  height: 50px;
  width: auto;
  margin-left: 5%;
}

#container {
  box-shadow: var(--sombra);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  margin: 20px auto;
  height: 80%;
  width: 90%;
}

#prizeBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 50%;
  width: 100%;
  margin-bottom: 20px;
}

#slide {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.upText {
  margin: 25px;
  font-weight: bold;
}

.conteudo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  box-sizing: border-box;
}

.corpo {
  flex-direction: row;
  display: flex;
  height: 100%;
  overflow: hidden;
}

#grid {
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    border: 1px solid var(--cor-secundaria);
    text-align: center;
    padding: 12px;
    transition: all 0.3s;
}

.card:hover {
  transform:  scale(1.1);
  z-index: 2;
  box-shadow: var(--sombra);
  transform-origin: bottom;
}

.card img {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

.card .title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: bold;
}

.card .price {
    font-size: 16px;
    font-weight: bold;
    color: #1f8b00;
}
