@import "../compartilhado.css";
@import "../variaveis.css";

.container {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  width: 100%;
  gap: 8px;
}

.gridCaixas {
  width: 50%;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.caixa {
  display: flex;
  gap: 8px;
  background-color: var(--cor-fundo);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: var(--cor-detalhes);
  box-shadow: var(--sombra);
}

.lateral {
  width: 50%;
  box-shadow: var(--sombra);
  display: flex;
  border-radius: 12px;
  background-color: var(--cor-fundo);
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: var(--cor-detalhes);
}
